@model IEnumerable<DigitalMatterWebApp.Models.DeviceFirmwareViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h2>Devices and Firmware</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Device ID</th>
                <th>Device Name</th>
                <th>Group ID</th>
                <th>Firmware Version</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DeviceID</td>
                    <td>@item.DeviceName</td>
                    <td>
                        <select id="myDropdown" name="myDropdown" class="form-control">
                            <option value="Option1">1</option>
                            <option value="Option2">2</option>
                            <option value="Option3">3</option>

                        </select>
                    </td>
                    <td>
                        <select id="myDropdown" name="myDropdown" class="form-control">
                            <option value="Option1">1.0.4</option>
                            <option value="Option2">1.1.4</option>
                            <option value="Option3">2.1.0</option>
                            <option value="Option3">2.0.5</option>

                        </select>

   
                    </td>
                    <td>@item.ReleaseDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>